html, body, #_next {
  position: relative;

  margin: 0;

  width: 100%;
  height: 100%;
}

h1 {
  font-size: 25pt;
  font-weight: 500;
}

h2 {
  font-size: 20pt;
  font-weight: 400;
}

p {
  margin: 0;
}